
<br><br><br><br>
<h1>Home#deletecheck</h1>


<%= form_tag '/deleteself', method:"post", class:'dpbutton' do %>
  <%=submit_tag :"JUST DELETE MY PROFILE, LEAVE MY WORDS AS TESTAMENT" %>
<% end %>


<%= form_tag '/deleteall', method:"post", class:'dpbutton' do %>
  <%=submit_tag :"DELETE MY PROFILE AND ALL MY POSTS, I NEVER EXISTED!" %>
<% end %>

