/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
	background-color: white;
	font-family: "Helvetica", sans-serif;
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.topbar {
	background-color: tomato;
	border-bottom: solid grey 5px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 53px;
	z-index: -1;
}

.title {
	position: absolute;
	left: 55px;
	top: 0;
	font-family: "Arial Narrow", sans-serif;
	color: black;
	font-size: 55px;
	transition-duration: .3s;
}
.title:hover {
    text-shadow: 0px 0px 10px white;

}

.corner {
	position: absolute;
	right: 0;
	top: 0;	background-color: grey;
	height: 60px;
	border-bottom: solid black 4px;
	border-radius: 0 0 0 10px;
	padding: 5px;
}

.boxes {
	display: inline-block;
	background-color: #E6E6E6;
	border: solid #666666 4px;
	border-radius: 0 10px 0 10px;
	width: 100px;
	color: black;
	text-align: center;
	margin: 20px 5px 5px 5px;
	padding: 5px;
	text-decoration: none;
	transition-duration: .3s;
}

.boxes:hover {
	background-color: white;
	color: black;
	box-shadow: 0 0 0 4px #FD644D;
}
/*	   box-shadow: 0 0 0 4px #FD644D, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);*/





.makebutton {
	z-index: -1;
	position: absolute;
	top: 70px;
	right: 15px;
	background-color: #E6E6E6;
	border: solid black 4px;
	border-radius: 0 0 0 10px;
	width: 200px;
	color: black;
	text-align: center;
	padding: 5px;
	text-decoration: none;
	transition-duration: .3s;
}

.makebutton:hover {
	background-color: white;
	color: black;
	box-shadow: 0 0 0 4px #FD644D;

}
.makebutton:visited {
	color: black;
}

.makebutton:hover:visited {
	color: black;
}


/*--------------------- CONTENT ---------------------*/


.contentbox {
	float: left;
	width: 60%;
	margin-top: 40px;
	margin-left: 70px;
	border-left: solid tomato 15px;
	padding: 50px 20px 20px 0px;
}



.posttitles {
	font-size: 18px;
	font-weight: bold;
	background-color: #E6E6E6;
	margin-bottom: 0px;
	margin-top: 15px;
	padding: 2px 2px 2px 10px;
	border-top: solid black 2px; 
	/*border-radius: 0 15px 0 0 ;*/
}
.posttitles a {
	color: black;
	text-decoration: none;
}
.posttitles a:hover {
	text-decoration: underline;
}
.postby {
	background-color: #E6E6E6;
	margin-bottom: 0px;
	margin-top: 1px;
	padding: 2px 2px 2px 20px;
	font-size: 12px;
}
.postby span {
	float: right;
	margin-right: 20px;
	font-weight: lighter;
	font-size: 10px;
	text-align: right;
}
.postprev {
	font-family: "Times New Roman", serif;
	font-size: .9em;
	background-color: #E6E6E6;
	margin-top: 1px;
	margin-bottom: 40px;
	padding: 3px;
	border-bottom: solid white 2px;
}



.userlist {
	float: right;
	margin-top: 150px;
	text-align: right;
	border-top: solid black 2px;
	border-right: solid black 2px;
}
.userlist div {
	font-size: 22px;
	margin-bottom: 6px;
}
.userlist span {
	font-size: 12px;
}
.userlist a {
	display: block;
	margin: 8px;
	text-decoration: none;
}
.userlist a:hover {
	text-decoration: underline;
}



/*----------------------------------- Posts -----------------------------------*/




.editbutton {
	z-index: -1;
	position: absolute;
	top: 70px;
	right: 15px;
	background-color: #E6E6E6;
	border: solid black 4px;
	border-radius: 0 0 0 10px;
	width: 200px;
	color: black;
	text-align: center;
	padding: 5px;
	text-decoration: none;
	transition-duration: .3s;
}

.editbutton:hover {
	background-color: white;
	color: black;
	box-shadow: 0 0 0 4px #FD644D;

}
.editbutton:visited {
	color: black;
}

.editbutton:hover:visited {
	color: black;
}


.deletebutton {
	z-index: -2;
	position: absolute;
	top: 100px;
	right: 30px;
	background-color: #E6E6E6;
	border: solid black 4px;
	border-radius: 0 0 0 10px;
	width: 165px;
	color: black;
	text-align: center;
	padding: 5px;
	text-decoration: none;
	transition-duration: .3s;
}

.deletebutton:hover {
	background-color: white;
	color: red;
	box-shadow: 0 0 0 4px red;

}
.deletebutton:visited {
	color: black;
}

.deletebutton:hover:visited {
	color: red;
}




.showtitle {
	margin: 20px 0 -6px 0;
}
.showby {
		border-top: solid grey 4px;
	text-align: right;
	padding-left: 40px;
	margin: 0;
}
.showcontent {
	font-family: "Times New Roman", serif;
	padding: 5px;
}




.commentsection {
	float: right;
	margin-top: 150px;
	width: 20%;
	text-align: left;
	border-top: solid black 2px;
	border-right: solid black 2px;
}

.commentsection textarea {
	resize: none;
	width: 95%;
	height: 100px;
	background-color: #E6E6E6;
	border-radius: 0 10px 0 10px;
}

.commentsection input {
	float: right;
	background-color: #E6E6E6;
	border: solid black 4px;
	border-radius: 0 10px 0 10px;
	width: 100px;
	color: black;
	text-align: center;
	margin: 5px 5px 5px 5px;
	padding: 5px;
	text-decoration: none;}

.commentsection h2 {
	margin-top: 50px;
	border-top: solid black 2px;

}
.commentsection p {
	font-size: 10px;

}


















